# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
out/
dist/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.vscode-test/

# OS
.DS_Store
Thumbs.db

# Coverage / cache
coverage/
.eslintcache
